.card-customer{
  width: 15rem;
  margin-left:200px;
  margin-top: 100px;
}

.card-operation{
  width: 15rem;
  margin-left: 100px;
  margin-top: 100px;
}

.table-detail{
  width: 15rem;
  margin-top: 100px;
}
