  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="container-fluid">
        <div class="row">
          <!-- sidebar -->
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
            <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">The UTIS Group</a>
            <div class="bottom-border pb-3">
              <img src="assets/images/rajesh.jpeg" width="50" class="rounded-circle mr-3">
              <a href="#" class="text-white">Rajesh Meena</a>
            </div>
            <ul class="navbar-nav flex-column mt-4">
              <li class="nav-item"><a routerLink="/home" class="nav-link text-white p-3 mb-2 current"><i class="fas fa-home text-light fa-lg mr-3"></i>Home</a></li>
              <li class="nav-item"><a routerLink="/customer-list" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>Customer List</a></li>
              <li class="nav-item"><a routerLink="/customer-info" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-envelope text-light fa-lg mr-3"></i>Customer Info</a></li>
              <li class="nav-item"><a routerLink="/customer-detail" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-shopping-cart text-light fa-lg mr-3"></i>Customer Detail</a></li>
            </ul>
          </div>
          <!-- end of sidebar -->

          <!-- top-nav -->
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
            <div class="row align-items-center">
              <div class="col-md-4">
                <h4 class="text-light text-uppercase mb-0">Dashboard</h4>
              </div>
              <div class="col-md-5">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="Search...">
                    <button type="button" class="btn btn-white search-button"><i class="fas fa-search text-danger"></i></button>
                  </div>
                </form>
              </div>
              <div class="col-md-3">
                <ul class="navbar-nav">
                  <li class="nav-item text-white icon-parent">
                    <a routerLink="/login" class="nav-link text-white">
                      Login
                      <!-- <i class="fas fa-comments text-muted fa-lg"></i> -->
                    </a>
                  </li>
                  <li class="nav-item text-white icon-parent">
                    <a routerLink="/" class="nav-link text-white">
                      Logout
                      <!-- <i class="fas fa-bell text-muted fa-lg"></i> -->
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of top-nav -->
        </div>
      </div>
    </div>
  </nav>
  <!-- end of navbar -->
