
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 custom-col">
        <div class="card card-customer">
            <ul
              class="list-group list-group-flush"

            >
              <li
                class="list-group-item text-center"
                *ngFor=" let customer of customers;let i=index"
                [routerLink]="['/customer']"
              >
                {{ customer }}
              </li>
            </ul>
          </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div class="card card-operation">
            <ul
              class="list-group list-group-flush"
            >
              <li
              *ngFor=" let operations of operationName;let i=index"
                class="list-group-item text-center customerInfo"
                [routerLink]="['/',operations]"
              >
                {{ operations }}
              </li>
              <!-- <ng-template *ngIf="operations!='add' || operations!='edit'">
                  <li class="list-group-item text-center customerInfo"
                    [routerLink]="['/operations']"
                  >
                  {{ operations }}
                  </li>
              </ng-template> -->
            </ul>
          </div>
    </div>
  </div>
</div>
