.card-customer{
  width: 20rem;
  margin-left:300px;
  margin-top: 200px;
}

.custom-col{
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  justify-content: space-around;
}

.card-operation{
  width: 20rem;
  margin-top: 200px;
  margin-left: 100px;
}

.customerInfo{
  cursor: pointer;
}
